//@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Quicksand:wght@300..700&display=swap");
@import "./variables.scss";

@font-face {
  font-family: "Oxygen";
  src: url("../scss/Oxygen/Oxygen-Regular.ttf") format("truetype"); /* Anpassa filväg och format här */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../scss/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Quicksand", sans-serif;
  color: $fontColor;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
