$opacitylevel: 0.5;
$fontSize: 0.8rem;

//$backgroundColor: #f0c0e8;
$backgroundColor: #f6e125; // yellow

$fontColor: rgb(193, 42, 178);

$cloudBackgroundColor: #b3c4c4;
$cloudAroundColor: #513901;
$brown: #392904;

$black: #000;
$white: #fff;

$radius: 4px;
