<section class="aboutContainer">
  <header class="rubrik">
    <h1>About us</h1>
  </header>
  <main class="aboutUs">
    <p>
      Welcome to <strong>Kids Timer</strong>, a work in progress app by
      <strong>Pablo Paez</strong>. Our mission is to assist kids who have
      difficulty understanding the concept of time.
    </p>

    <p>
      Instead of using numbers, we represent time using intuitive pictures and
      animations. This approach simplifies time perception, making it easier for
      children to manage tasks and understand how long activities take.
    </p>

    <p>
      We are committed to continuous improvement, and we greatly appreciate
      feedback from our users. Your input helps us refine and enhance the app to
      better serve our community.
    </p>

    <p>
      We value your feedback and invite you to join us on our journey. You can
      contribute by participating in beta testing, providing feedback, and
      spreading the word about our app.
    </p>

    <p>
      For more information and to stay updated on our progress, please feel free
      to contact us via email at <strong>thepablopaez&#64;gmail.com</strong>.
    </p>

    <p>
      Thank you for your interest in Kids Timer. Together, let's empower every
      child to conquer time with confidence and joy.
    </p>
  </main>
</section>
