<section class="headerContainer">
  <div class="dropdown">
    <img
      src="./../../../assets/menu-alt-3-svgrepo-com.svg"
      alt="menu"
      class="menuButton"
    />
    <div class="dropdown-content">
      <a href="" (click)="routeToSettings()">About Kids Timer</a>
      <a href="" (click)="routeToAbout()">Settings</a>
      <a href="" (click)="routeToContact()">Contact</a>
    </div>
  </div>

  <img
    src="./../../../assets/home-house-svgrepo-com.svg"
    alt="homepage"
    (click)="routeToStart()"
    class="homeButton"
  />
  <img
    src="./../../../assets/back-svgrepo-com.svg"
    alt="back button"
    (click)="routeToPrevious()"
    class="backButton"
  />
  <img
    src="./../../../assets/settings-svgrepo-com.svg"
    alt="settings"
    (click)="routeToSettings()"
    class="settingsButton"
  />
</section>
