@import "scss/variables.scss";
@import "scss/mixins.scss";
@import "scss/typography.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 850px;
  margin: auto;
  //padding: 0.5rem;
  @include borders;
  overflow: hidden;
}
.root {
  height: 100%;
}

header,
footer {
  height: 3rem;
}
